# OS X
.DS_Store
# Xcode
xcuserdata/
*.xcworkspace
BBZVideoEngine/*.xcworkspace
BBZVideoEngine/BBZVideoEngine.xcodeproj/project.xcworkspace/xcuserdata/
BBZVEDemo/*.xcworkspace
BBZVEDemo/BBZVEDemo.xcodeproj/project.xcworkspace/xcuserdata/
## Build generated
build/
DerivedData/

## CocoaPods

BBZVideoEngine/Pods/
BBZVideoEngine/Podfile.lock

BBZVEDemo/Pods/
BBZVEDemo/Podfile.lock